<div class="card mb-3">
  <h2 class="card-header h4">
    Entry #<%= entry.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Creator</dt>
      <dd>
        <% if @entry.creator.present? %>
          <%= link_to entry.creator, entry.creator %>
        <% end %>
      </dd>

      <dt>Neighborhood</dt>
      <dd><%= entry.neighborhood %></dd>

      <dt>Citylist</dt>
      <dd>
        <% if @entry.cityguide.present? %>
          <%= link_to entry.cityguide, entry.cityguide %>
        <% end %>
      </dd>

      <dt>Geo location</dt>
      <dd>
        <div>
          <%= render partial: "entries/one_photo_map" %>
        </div>
      </dd>

      <dt>Category</dt>
      <dd>
        <% if @entry.category.present? %>
          <%= link_to entry.category, entry.category %>
        <% end %>
      </dd>

      <dt>Journal</dt>
      <dd><%= entry.journal %></dd>

      <dt>Status</dt>
      <dd><%= entry.status %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back entry, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_entry_url(entry), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to entry, method: :delete, data: { confirm: "Do you really want to delete this entry?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(entry.updated_at) %> ago
  </div>
</div>
