<% was_validated = entry.errors.any? %>

<%= form_with(model: entry, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% creator_class = "form-control" %>
    <% creator_was_invalid = entry.errors.include?(:creator) %>

    <% if was_validated %>
      <% if creator_was_invalid %>
        <% creator_class << " is-invalid" %>
      <% else %>
        <% creator_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :creator_id %>
    <%= f.collection_select :creator_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <% if creator_was_invalid %>
      <% entry.errors.full_messages_for(:creator).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% neighborhood_class = "form-control" %>
    <% neighborhood_was_invalid = entry.errors.include?(:neighborhood) %>

    <% if was_validated %>
      <% if neighborhood_was_invalid %>
        <% neighborhood_class << " is-invalid" %>
      <% else %>
        <% neighborhood_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :neighborhood %>
    <%= f.text_field :neighborhood, class: neighborhood_class, placeholder: "Enter neighborhood" %>
    <% if neighborhood_was_invalid %>
      <% entry.errors.full_messages_for(:neighborhood).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% cityguide_class = "form-control" %>
    <% cityguide_was_invalid = entry.errors.include?(:cityguide) %>

    <% if was_validated %>
      <% if cityguide_was_invalid %>
        <% cityguide_class << " is-invalid" %>
      <% else %>
        <% cityguide_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :cityguide_id %>
    <%= f.collection_select :cityguide_id, CityGuide.all, :id, :to_s, {}, class: "form-control" %>
    <% if cityguide_was_invalid %>
      <% entry.errors.full_messages_for(:cityguide).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% geo_location_class = "form-control" %>
    <% geo_location_was_invalid = entry.errors.include?(:geo_location) %>

    <% if was_validated %>
      <% if geo_location_was_invalid %>
        <% geo_location_class << " is-invalid" %>
      <% else %>
        <% geo_location_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :geo_location %>
    <%= f.text_field :geo_location, class: geo_location_class, placeholder: "Enter geo location" %>
    <% if geo_location_was_invalid %>
      <% entry.errors.full_messages_for(:geo_location).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% category_class = "form-control" %>
    <% category_was_invalid = entry.errors.include?(:category) %>

    <% if was_validated %>
      <% if category_was_invalid %>
        <% category_class << " is-invalid" %>
      <% else %>
        <% category_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :category_id %>
    <%= f.collection_select :category_id, Category.all, :id, :to_s, {}, class: "form-control" %>
    <% if category_was_invalid %>
      <% entry.errors.full_messages_for(:category).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% journal_class = "form-control" %>
    <% journal_was_invalid = entry.errors.include?(:journal) %>

    <% if was_validated %>
      <% if journal_was_invalid %>
        <% journal_class << " is-invalid" %>
      <% else %>
        <% journal_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :journal %>
    <%= f.text_area :journal, class: journal_class, placeholder: "Enter journal" %>
    <% if journal_was_invalid %>
      <% entry.errors.full_messages_for(:journal).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
