<% was_validated = category.errors.any? %>

<%= form_with(model: category, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% art_design_class = "form-control" %>
    <% art_design_was_invalid = category.errors.include?(:art_design) %>

    <% if was_validated %>
      <% if art_design_was_invalid %>
        <% art_design_class << " is-invalid" %>
      <% else %>
        <% art_design_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :art_design %>
    <%= f.text_field :art_design, class: art_design_class, placeholder: "Enter art design" %>
    <% if art_design_was_invalid %>
      <% category.errors.full_messages_for(:art_design).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% food_class = "form-control" %>
    <% food_was_invalid = category.errors.include?(:food) %>

    <% if was_validated %>
      <% if food_was_invalid %>
        <% food_class << " is-invalid" %>
      <% else %>
        <% food_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :food %>
    <%= f.text_field :food, class: food_class, placeholder: "Enter food" %>
    <% if food_was_invalid %>
      <% category.errors.full_messages_for(:food).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% historical_class = "form-control" %>
    <% historical_was_invalid = category.errors.include?(:historical) %>

    <% if was_validated %>
      <% if historical_was_invalid %>
        <% historical_class << " is-invalid" %>
      <% else %>
        <% historical_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :historical %>
    <%= f.text_field :historical, class: historical_class, placeholder: "Enter historical" %>
    <% if historical_was_invalid %>
      <% category.errors.full_messages_for(:historical).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
